//
// Mosaic
// --------------------------------------------------

.mosaic {
  
// Make wrapper ul behave like the grid
  .thumbnails {
    margin-left: -@gridGutterWidth;
    list-style: none;
    .clearfix();
  }
// Fluid rows have no left margin
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  
// Float li to make thumbnails appear in a row
  .thumbnails > li {
    float: left; // Explicity set the float since we don't require .span* classes
    margin-bottom: 0;
    margin-left: 0;
  }
  
// The actual thumbnail (can be `a` or `div`)
  .thumbnail {
    display: block;
    line-height: @baseLineHeight;
    .transition(all .2s ease-in-out);
    border: 3px solid @white;
  }
  
// Add a hover state for linked versions only
  a.thumbnail:hover {
    .box-shadow(2px 2px 8px rgba(50, 50, 50, 1));
     margin:-3px !important;
     border:3px solid #FFFFFF;
     //.opacity(10);
  }
  
// Images and captions
  .thumbnail > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .thumbnail .caption {
    padding: 9px;
    color: @gray;
  }

}

